footer{
    margin-top: 467px;
}

.hero {
    right: 300px;
}

/* Seção de preview do crochê */
.croche-preview{
    width: 600px;
    height: 450px;
}

.section-heading{
    padding: 10px;
}
.section-heading h2{
    font-size: 30px; 
}
.section-heading p{
    font-size: 20px;
    padding: 10px;
}

/*Slider de produtos*/
.products-container{
    height:300px;
    overflow-y: auto;
    margin: 0 20px;
    
}
.product-slider{
    display: flex;
    flex-direction: row;
    margin:20px;
    overflow: hidden;
    
}
.description-product-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.description-product-card p{
    font-size: 12px;
    font-weight: lighter;
}
.description-product-card h3{
    font-size: 12px;
    font-weight: bold;
}

.product-card{ 
    width: 150px;
    height: 120px;
}
.product-slider img{
    margin: 0px 30px;
    width: 80px;
}

.product-slider h3{
    font-size: 15px;

}   
